<p><%= "#{flight.departure_airport.code} - #{flight.arrival_airport.code}" %></p>
<p>Departure airport: <%= flight.departure_airport.city %></p>
<p>Arrival airport: <%= flight.arrival_airport.city %></p>
<p>Start datetime: <%= flight.start_datetime %></p>
<p>Flight duration: <%= convert_duration(flight.duration_interval.parts) %></p>
