<%= form_with url: 'bookings/new', scope: :booking, method: :get do |f| %>
  <%= f.hidden_field :number_passengers, value: @number_passengers %>
  <% @flights.each do |flight| %>
    <div>
      <%= f.label :flight_id, 'Flight' %>
      <%= f.radio_button :flight_id, flight.id %>
    </div>
    <%= render flight %>
  <% end %>
  <%= f.submit 'Select' %>
<% end %>
