<h1>Booking</h1>
<%= form_with model: @new_booking do |f| %>
  <%= render @new_booking.flight %>
  <%= f.fields_for :passengers do |passenger_f| %>
    <p><%= "Passenger" %></p>
    <div>
      <%= passenger_f.label :name, 'Name' %>
      <%= passenger_f.text_field :name, required: true %>
    </div>
    <div>
      <%= passenger_f.label :email, 'Email' %>
      <%= passenger_f.email_field :email, required: true %>
    </div>
  <% end %><br>
  <%= f.submit 'Book' %>
<% end %>
