<h1>Booking</h1>
<%= form_with model: @new_booking do |f| %>
  <%= render @new_booking.flight %>
  <% @new_booking.passengers.each_with_index do |passenger, number| %>
    <%= f.fields_for :passenger, passenger do |passenger_f| %>
      <p><%= "Passenger #{number + 1}" %></p>
      <div>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, required: true %>
      </div>
      <div>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, required: true %>
      </div>
    <% end %>
  <% end %><br>
<%= f.submit 'Book' %>
<% end %>
